{% extends "base.html" %}
{% block title %}My Account{% endblock %}
{% block content %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
  <h2>My Account</h2>
	<p>
          <div class="row omb_row-sm-offset-3">
      			<div class="col-xs-12 col-sm-6">
      			    <form class="omb_loginForm" action="." autocomplete="off" method="POST">
      				{% csrf_token %}
              {% if form.old_password %}
      					<label>Old Password:</label>
      					<div class="input-group">
      						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
      						{{ form.old_password }}
      					</div>
      					<br>
              {% endif %}
      					<label>New Password:</label></br>
      					<div class="input-group">
      						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
      						{{ form.new_password1 }}
      					</div>
                <label>Retipe Password:</label></br>
      					<div class="input-group">
      						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
      						{{ form.new_password2 }}
      					</div>

      				{% if form.errors %}
                  <span class="help-block">{{ form.old_password.errors }}</span>
                  <span class="help-block">{{ form.new_password1.errors }}</span>
                  <span class="help-block">{{ form.new_password2.errors }}</span>
      				{% else %}
      					<br>
      				{% endif %}
      					<button class="btn btn-lg btn-primary btn-block" type="submit">Cambiar</button>
      				</form>
      			</div>
          	</div>
      	</form>
      </p>



</div>

{% endblock %}
