{% extends "base.html" %}
{% block title %}Configuración{% endblock %}
{% block content %}

<div class="container">
  <h2></h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#micuenta">Mi cuenta</a></li>
    <li><a data-toggle="tab" href="#loc">Localización</a></li>
  </ul>

  <div class="tab-content">
    <div id="micuenta" class="tab-pane fade in active">
      <h3>Mi cuenta</h3>
      <p>

      </p>
    </div>
    <div id="loc" class="tab-pane fade">
      <h3>Localización de tienda mas próxima</h3>
      <p>
            <div id="map" class="wrapper"></div>
            <script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBFQ4pqcYAEzvCu8kWx2jOJ_VmLld53JaQ"></script>
            <script src="/comics/static/bootstrap/js/geolocator.js"></script>
      </p>
    </div>
  </div>
</div>
{% endblock %}
