{% extends "base.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}




<div class="container-fluid">
	<div class="row content">
    	<div class="col-sm-3 sidenav">
	<h4>Statistics</h4>
	<ul class="nav nav-tabs nav-stacked">
		<li class="active"><a data-toggle="tab" href="#use">Users</a></li>
		<li><a data-toggle="tab" href="#com">Comics</a></li>
		<li><a data-toggle="tab" href="#aut">Authors</a></li>
		<li><a data-toggle="tab" href="#char">Characters</a></li>
	</ul>
</div>
	<div class="col-sm-9">
	<div class="tab-content">
		<div id="use" class="tab-pane fade in active">
			<h3>Users</h3>
			<h3>Comics</h3>
			<center>
				<h3>Follows comics month</h3>
				<img src='/comics/static/statistics/comic_follows.png'>
				<h3>Follows user comics</h3>
				<img src='/comics/static/statistics/comic_user_follows.png'>
			</center>
			<h3>Characters</h3>
			<center>
				<h3>Follows characters month</h3>
				<img src='/comics/static/statistics/character_follows.png'>
				<h3>Follows user characters</h3>
				<img src='/comics/static/statistics/character_user_follows.png'>
			</center>
			<h3>Authors</h3>
			<center>
				<h3>Follows authors month</h3>
				<img src='/comics/static/statistics/author_follows.png'>
				<h3>Follows user authors</h3>
				<img src='/comics/static/statistics/author_user_follows.png'>
			</center>
			<p></p>
		</div>
			<div id="com" class="tab-pane fade ">
				<h3>Comics</h3>
				<center>
					<h3>Store month</h3>
					<img src='/comics/static/statistics/comics_month.png'>
				</center>
				<p></p>
			</div>

			<div id="aut" class="tab-pane fade">
				<center>
					<h3>Gender</h3>
					<img src='/comics/static/statistics/authors_gender.png'>
					<h3>Country</h3>
					<img src='/comics/static/statistics/authors_country.png'>
					<h3>Birth year</h3>
					<img src='/comics/static/statistics/authors_age.png'>

				</center>

			<p></p>
			</div>
				<div id="char" class="tab-pane fade">
				<center>
					<h3>Gender</h3>
					<img src='/comics/static/statistics/characters_gender.png'>
					<h3>Type</h3>
					<img src='/comics/static/statistics/characters_type.png'>
					<h3>Publisher</h3>
					<img src='/comics/static/statistics/characters_publisher.png'>
					<h3>Powers</h3>
					<img src='/comics/static/statistics/characters_powers.png'>
				</center>
			<p></p>
			</div>
	</div>

</div>
</div>






{% endblock %}
