{% extends "base.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}




<div class="container-fluid">
	<div class="row content">
    	<div class="col-sm-3 sidenav">
	<h4>Statistics</h4>
	<ul class="nav nav-tabs nav-stacked">
		<li class="active"><a data-toggle="tab" href="#user">Users</a></li>
		<li><a data-toggle="tab" href="#aut">Authors</a></li>
		<li><a data-toggle="tab" href="#char">Characters</a></li>
	</ul>
</div>
	<div class="col-sm-9">
	<div class="tab-content">
		   
			<div id="user" class="tab-pane fade in active">
				<h3>Users</h3>
				

				
			</div>

			<div id="aut" class="tab-pane fade">
				<center>
					<h3>Gender</h3>
					<img src='/comics/static/statistics/authors_gender.png'>
					<h3>Country</h3>				
					<img src='/comics/static/statistics/authors_country.png'>
					
				</center>
				
			<p></p>
			</div>
				<div id="char" class="tab-pane fade">
				<center>
					<h3>Gender</h3>
					<img src='/comics/static/statistics/characters_gender.png'>
					<h3>Type</h3>				
					<img src='/comics/static/statistics/characters_type.png'>
					<h3>Publisher</h3>
					<img src='/comics/static/statistics/characters_publisher.png'>
					<h3>Powers</h3>
					<img src='/comics/static/statistics/characters_powers.png'>
				</center>
			<p></p>
			</div>
	</div>
	
</div>
</div>
    





{% endblock %}
