<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		      	 </button>
			 <a class="navbar-brand" href="/comics">Comics</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			{% if user.is_authenticated %}
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="glyphicon glyphicon-cog"></span> Config 
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/comics/shops"><span class="glyphicon glyphicon-globe"></span> Nerby Shops</a></li>
						<li><a href="/comics/account"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
						{% if user.is_superuser %}
							<li><a href="/comics/statistics"><span class="glyphicon glyphicon-stats"></span> Statistics</a></li>
						{% endif %}
					</ul>
				</li>
				<li><a href="/comics/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
			{% else %}

				<li><a href="/comics/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="/comics/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			{% endif %}
		</ul>
		{% if user.is_authenticated %}
		<form class="navbar-form navbar-right" action="{% url 'search' %}" method="GET">
			{% csrf_token %}	
		<div class="input-group">
		      <div class="input-group-btn search-panel">
			<select class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="search_param">Filter by<>
			    <option value="issue"><a href="#com">Comic</a></option>
                            <option value="character"><a href="#char">Character</a></option>
                            <option value="person"><a href="#aut">Author</a></option>
			</select>
		      </div>
			<input type="text" class="form-control" name="query" placeholder="Search term...">
                    	<span class="input-group-btn">
                        	<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    	</span>
						
		</div>

		    
	
		</form>
		{% endif %}
	</div>
</nav>
