{% extends "base.html" %}

{% block title %}Character{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="/comics/static/images/hero.jpg" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="{{character.image}}" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>{{character.super_name}}</h1>

        </div>
    </div>
  </div>
</div> <!-- /container fluid-->
<div class="container">
  <div class="col-sm-8">

      <div data-spy="scroll" class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
              Origin </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">

              <p>
              {{character.origin}}
              </p>

            </div>
          </div>
        </div>
      </div>

  </div>
  <div class="col-sm-4">
   <div class="panel panel-default">
    <div class="menu_title">
       General Information
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                 <div class="form-group">
                     <label for="email">Super Name:</label>
                      <p> {{character.super_name}}</p>
                 </div>
                 <div class="form-group">
                     <label for="email">Real Name:</label>
                      <p> {{character.real_name}}</p>
                 </div>
                 <div class="form-group">
                     <label for="email">Aliases:</label>
                      <p> {{character.aliases}}</p>
                 </div>
                 <div class="form-group">
                     <label for="email">Publisher:</label>
                      <p>{{character.publisher}}</p>
                 </div>
                  <div class="form-group">
                      <label for="email">Gender:</label>
                      <p> {{character.gender}}</p>
                  </div>
                  <div class="form-group">
                      <label for="email">Character Type:</label>
                      <p> {{character.character_type}}</p>
                  </div>
                   <div class="form-group">
                      <label for="email">Powers:</label>
                      <p> {{character.powers}} </p>
                   </div>
		<form action="/comics/followcomic/{{ comic.comic_id }}">
			{% if follows %}
                		<input type="submit" class="btn btn-danger btn-block" value="Remove from my list"/>
			{% else %}
                		<input type="submit" class="btn btn-primary btn-block" value="Add to my list"/>
			{% endif %}

		</form>
            </div>
        </div>
    </div>
</div>
  </div>
</div>
{% endblock %}
