{% extends "base.html" %}

{% block title %}Comics{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#comics">Comics</a></li>
  	<li><a data-toggle="tab" href="#authors">Authors</a></li>
      	<li><a data-toggle="tab" href="#characters">Characters</a></li>
</ul>

      <div class="tab-content">
	      <div id="comics" class="tab-pane fade in active">
	     	<div class="row">
	    	<section class="col-xs-12 col-sm-6 col-md-12">
			{% for comic in comics %}
				<article class="search-result row">
					<div class="col-xs-12 col-sm-12 col-md-3">
						<a href="/comics/comic/{{ comic.comic_id }}" title="Lorem ipsum" class="thumbnail"><img width="80"  src="{{ comic.image }}" alt="Lorem ipsum" /></a>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-2">
						<ul class="meta-search">
							<li>
								{% if comic.store_date %}
									<i class="glyphicon glyphicon-calendar"></i> 
									<span>{{ comic.store_date }}</span>
								{% endif %}
							</li>
							<li><i class="glyphicon glyphicon-tags"></i> <span>Comic</span></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
						<h4><a href="/comics/comic/{{ comic.comic_id }}" title="Lorem ipsum">{{ comic.title}} #{{ comic.issue_number }}</a></h4>
					        <span class="minus"><a href="/comics/followcomic/{{ comic.comic_id }}" title="Remove from my list"><i class="glyphicon glyphicon-minus"></i></a></span>

					</div>
					<span class="clearfix borda"></span>
				</article>
			{% endfor %}
		</section>
		</div>
      </div>
	      <div id="authors" class="tab-pane fade">
	     	<div class="row">
	    	<section class="col-xs-12 col-sm-6 col-md-12">
			{% for author in authors %}
				<article class="search-result row">
					<div class="col-xs-12 col-sm-12 col-md-3">
						<a href="/comics/author/{{ author.author_id }}" title="Lorem ipsum" class="thumbnail"><img width="80"  src="{{ author.image }}" alt="Lorem ipsum" /></a>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-2">
						<ul class="meta-search">
							<li>
								{% if author.birth_date %}
									<i class="glyphicon glyphicon-calendar"></i> 
									<span>{{ author.birth_date }}</span>
								{% endif %}
							</li>
							<li><i class="glyphicon glyphicon-tags"></i> <span>Author</span></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
						<h4><a href="/comics/author/{{ author.author_id }}" title="Lorem ipsum">{{ author.name }}</a></h4>
					        <span class="minus"><a href="/comics/followauthor/{{ author.author_id }}" title="Remove from my list"><i class="glyphicon glyphicon-minus"></i></a></span>

					</div>
					<span class="clearfix borda"></span>
				</article>
			{% endfor %}
		</section>
		</div>

	      </div>
	      <div id="characters" class="tab-pane fade">
	        <div class="row">
	    	<section class="col-xs-12 col-sm-6 col-md-12">
			{% for character in characters %}
				<article class="search-result row">
					<div class="col-xs-12 col-sm-12 col-md-3">
						<a href="/comics/character/{{ character.character_id }}" title="Lorem ipsum" class="thumbnail"><img width="80"  src="{{ character.image }}" alt="Lorem ipsum" /></a>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-2">
						<ul class="meta-search">
							<li>
								{% if character.birth_date %}
									<i class="glyphicon glyphicon-calendar"></i> 
									<span>{{ character.birth_date }}</span>
								{% endif %}
							</li>
							<li><i class="glyphicon glyphicon-tags"></i> <span>Character</span></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
						<h4><a href="/comics/character/{{ character.character_id }}" title="Lorem ipsum">{{ character.super_name }}</a></h4>
					        <span class="minus"><a href="/comics/followcharacter/{{ character.character_id }}" title="Remove from my list"><i class="glyphicon glyphicon-minus"></i></a></span>

					</div>
					<span class="clearfix borda"></span>
				</article>
			{% endfor %}
		</section>
	      </div>
      </div>

<div class="container">
	</div>
{% endblock %}
