{% extends "base.html" %}

{% block title %}Comics{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#comics">Comics</a></li>
  	<li><a data-toggle="tab" href="#authors">Authors</a></li>
      	<li><a data-toggle="tab" href="#characters">Characters</a></li>
</ul>

      <div class="tab-content">
	      <div id="comics" class="tab-pane fade in active">
		      <div class="row">
			      <div class="thumbnails">	    
				      {% for comic in comics %}            
				      <div class="col-md-4">
					      <div class="thumbnail">
						      <img src="{{ comic.image }}" width="150x150" alt="ALT NAME">
						      <div class="caption">
							      <h3>{{ comic.title }}  #{{ comic.issue_number }}</h3>
							      <p align="center">
							      <a href="#" class="btn btn-primary btn-block">Añadir</a></p>
						      </div>
					      </div>
				      </div>
				      {% endfor %}
			      </div>
		      </div>
	      </div>
	      <div id="authors" class="tab-pane fade">
		      <h3>Menu 1</h3>
		      <p>Some content in menu 1.</p>
	      </div>
	      <div id="characters" class="tab-pane fade">
		      <div class="row">
			      <div class="thumbnails">	    
				      {% for character in characters %}            
				      <div class="col-md-4">
					      <div class="thumbnail">
						      <img src="{{ character.image }}" width="150x150" alt="ALT NAME">
						      <div class="caption">
							      <h3>{{ character.name }}</h3>
							      <p align="center">
							      <a href="#" class="btn btn-primary btn-block">Añadir</a></p>
						      </div>
					      </div>
				      </div>
				      {% endfor %}
			      </div>
		      </div>
	      </div>
      </div>

<div class="container">
	</div>
{% endblock %}
